:root{
  --color--default:#1E0036;
  --color--tertiary:#4A0AD2;
  --color--txtshadow:#FFF59D;

  --size-heading:48rem;
  --size-context:32rem;
  --size-btn:24rem;

  --family-heading:'WavvePADO-Regular',sans-serif;
}
/* tablet 768px~1199px */
@media screen and (min-width:768px){
  #section0 .courseBtn a{
    column-gap: 25rem;
    font-size: 38rem;
    border-radius: 67rem;
    padding:10rem;
    color:#fff;
    font-weight: 100;
    box-shadow: 0.4em 0 1rem var(--color--txtshadow);
    transition: 0.3s;
  }
  #section0 .courseBtn a>img{
    height: 48rem;
  }
  #section2 .card-group{
    flex-direction: row;
    column-gap: 3em;
  }
  #section2 .card-group .card{scale: 1;}

  #section3 .WebnTop{
    display: flex;
    /* justify-content: space-between; */
    column-gap: 3em;

  }
  #section3 .WEBcard{
    position: static;
    opacity: 1;
    translate:0;
    transition: 0.3s;
    margin-right: 50rem;
  }
  #section3 .WEBcard:nth-of-type(3){margin:0;}
  .s3-slide  .arrow-group{display: none;}
}


/* desktop 1200px~ */
@media screen and (min-width:1200px){
  /* 없어져야하는 것들 */
  .mob_btn, .mob_only{display: none;}

  .h_nav,.pc_only{display: block;}

  .rel{
    max-width: 1300rem;
    margin: auto;
  }
  
  /* body{font-size: 0.8vw;} */

header  {
  height:84rem;transition: 0.3s;}
  

  header .rel{padding:0 15rem;}
  header .header_left img{width:100rem;transition: 0.3s;}
  .header_left{
    display: flex;
    align-items: center;
    column-gap: 50rem;
  }
  .h_nav.menu{
    display: flex;
    align-items: center;
    column-gap:0;
  }
  .h_nav.menu li{
    padding:10rem 30rem;
    font-weight: 900;
    background-color: var();
    font-size: 18rem;
  }

  .h_nav.menu li.active{
    background-color: var(--color--tertiary);
    border-radius: 25rem;
    color:#fff;

  }

  .h_nav.login{
    background-color: var(--color--tertiary);
    color:#fff;
    font-size: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:161rem;
    height: 40rem;
    border-radius: 25rem;
    column-gap: 10rem;
  }

  .h_nav.login a{position: relative;}

  .h_nav.login a:first-child:before{
    content: '';
    position: absolute;
    display: block;
    width:1rem;
    height: 20rem;
    background-color: #fff;
    top:50%;
    right:-15%;
    translate:-50% -50%;
  }
  #section0 .text{margin-top:150rem;}
  #section0 .text h1{
    font-size:min(8.4em,124px);
  }

  #section0 .text video{
    width:min(14em,208px);
    height:min(8em,118px);
  }

  #section0 .courseBtn{
    margin-top: 30rem;
    display: block;
  }
  #section0 .courseBtn a{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25rem;
    font-size: 48rem;
    border-radius: 67rem;
    padding:30rem;
    width:500rem;
    color:#fff;
    font-weight: 100;
    box-shadow: 0.4em 0 1rem var(--color--txtshadow);
    transition: 0.3s;
  }
  #section0 .courseBtn a>img{
    height: 48rem;
  }



  #section1{
    text-align: left;
  }
  #section1 .des-top{
    display: flex;
    align-items: center;
    column-gap: 100rem;
  }
  #section1 .des-top,
  #section1 .des-bottom{
    font-size: min(5em,70px);
    line-height: 1.3em;
    transition: .3s;
  }
  #section1 .des-top p{height:2.5em;}
  #section1 .des-top img{scale: 0.7;}
  #section1 .des-bottom .underline{
    bottom:1.3em;
    left:3.7em;
  }

  #section2 .title{
    font-size: 50rem;
  }

  #section2 .card-group{
    column-gap: 1em;
    margin-top: 100rem;
  }
  #section2 .des{
    font-size: 36rem;
  }

  #section2 .des{
    margin-top: 80rem;
  }


  #section3 .WebnTop{
    display: flex;
    /* justify-content: space-between; */
    column-gap: 100rem;

  }
  #section3 .WebnTop .title{
    font-size: 50rem;
  }

  #section3 .WebnTop .des p{
    font-size: 24rem;
    /* width:600rem; */
    /* translate:0 51rem; */

  }

  #section3 .row_inner{
    width: 1300px;
    margin-top: 100rem;
    

  }
  #section3 .WEBcard{
    position: static;
    opacity: 1;
    background-color: transparent;
    translate:0;
    transition: 0.3s;
    scale: 1.4;
    margin-right: 150rem;
  }
  #section3 .WEBcard:nth-of-type(3){margin:0;}
  #section3 .WEBcard img{
    opacity: 0;
    transition: 0.3s;
  }

  #section3 .WEBcard:hover{
    background-color: #fff;
  }

  #section3 .WEBcard:hover img{
    opacity: 1;
    transition:0.3s
  }

  #section3 .btn a{
    width:50%;
    margin-top: 30rem;
    padding:14rem 0;

  }

  #section3 .btn a p{
    font-size: 20rem;
  }


  #section4{height: 70vh;}

  #section4 .title{
    font-size:50rem;
  }
  #section4 .title em{
    font-size:50rem;
  }
  #section4 .des{
    font-size: 24rem;
  }
  


  #section5{height: 70vh;}
  #section5 .rel{
    width:1300px;
    display: flex;
    justify-content: space-between;
  }
  #section5 .together{
    flex:1;
  }
  #section5 .title{
    font-size:50rem;
  }
  #section5 .des{margin-top: 100rem;}
  #section5 .des p{
    font-size: 24rem;
  }

  #section5 .btn{
    position: static;
    translate:0%;
    margin-top:150rem;
    width:60%;
  }
  #section5 .btn a p{
    font-size: 20rem;
    color:var(--color--default)
  }

  #section5  .people{
    flex:1;
    margin: 0;
  }

  
  #section6 .rel{
    margin:200rem 0;
  }


  #section6 .rel>p{
    font-size:55rem;
  }

  #section6 .btn a{
    margin-top:50rem;
    column-gap: 25rem;
    font-size: 48rem;
    border-radius: 67rem;
    padding:30rem;
    width:800rem;
    color:#fff;
    font-weight: 100;
    box-shadow: 0.4em 0 1rem var(--color--txtshadow);
    transition: 0.3s;
  }
  #section6 .btn a>img{
    height: 48rem;
  }


}
